= simple_form_for @army do |f|
  %h2 Select Faction
  = f.input :name
  = f.input :faction, collection: Army::FACTIONS
  .army_points


  .squadform
    %table.army_composition
      Army Composition
      %thead
        %th.army_name HQ
        %th.army_name Troop
        %th.army_name Elite
        %th.army_name Heavy Support
        %th.army_name Fast Attack
      %tbody
        %tr
        %td.hq 1
        %td.troop 2
        %td.elite 0
        %td.heavy 0
        %td.fast 0
        %tr
        %td 2
        %td 6
        %td 3
        %td 3
        %td 3
    %h3 Squads
    = f.simple_fields_for :squads do |squad|
      .fields.squad
        = squad.input :name, label: false, collection: Squad::TYPES.to_a, value_method: :first, label_method: :last, prompt: "Select squad"
        .squad_wrap
          = link_to "Remove", '#', class: "remove_squad"
          .squadpoints
          %h4 Troops
          %table
            %thead
              %tr
                %th Weapon
            %tbody
              = squad.simple_fields_for :troops do |troop|
                %tr
                  %td
                    .troop_icon
                    = troop.input :weapon, collection: ["Select Weapon"], prompt: "Select Weapon", label: false
                    = troop.input :weapon2, collection: ["Select Weapon"], prompt: "Select Weapon", label: false

                    = link_to "remove", "#", class: "remove_troop"

          = link_to "Add Troop", "#", class: "add_troop"

      = link_to "Add Troop Squad", '#', id: "add_squad"
      = link_to "Add Elite Squad", '#', id: "add_elite"
      = link_to "Add Heavy Support", '#', id: "add_heavyweapon"
      = link_to "Add Fast Attack", '#', id: "add_fastattack"
      = link_to "Add HQ", '#', id: "add_hq"

    .create_army= f.button :submit
