= simple_form_for @army do |f|
  %h3 Select Faction
  = f.input :name
  = f.input :faction, collection: Army::FACTIONS

  %h3 Squads
  = link_to "console log", "#", id: "click"
  = f.simple_fields_for :squads do |squad|
    .fields.squad
      = link_to "Remove", '#', class: "remove_squad"
      = squad.input :name, label: false, collection: Squad::TYPES.to_a, value_method: :first, label_method: :last, prompt: "Select squad"
      %h4 Troops
      %table
        %thead
          %tr
            %th Weapon
        %tbody
          = squad.simple_fields_for :troops do |troop|
            %tr
              %td
                .info
                = troop.input :weapon, collection: ["meltagun", "plasmagun", "boltgun"], prompt: "Select Weapon", label: false
                = link_to "remove", "#", class: "remove_troop"

      = link_to "Add Troop", "#", class: "add_troop"

    = link_to "Add another squad", '#', id: "add_squad"

  = f.button :submit

