= simple_form_for @army do |f|

  .rank
  .name
    Army Name
    .comander_name= f.input :name, label: false

  .army_points
  .progressbar
    .bar
      .barpoints 0%
  .squadform
    .army_list
      %table
        %thead
          %th Squads
          %th #
          %th.points points
          %th max
        %tr
          %td HQ
          %td.hq 0
          %td.hqpoints 0
          %td 2
        %tr
          %td Troop
          %td.troop 0
          %td.trooppoints 0
          %td 6
        %tr
          %td Elite
          %td.elite 0
          %td.elitepoints 0
          %td 3
        %tr
          %td Heavy Support
          %td.heavy 0
          %td.heavypoints 0
          %td 3
        %tr
          %td Fast Attack
          %td.fast 0
          %td.fastpoints 0
          %td 3
        %tr
          %td Total
          %td.total 0
          %td 0
          %td 18

    %h3
    = f.simple_fields_for :squads do |squad|
      .fields.squad
        = squad.input :name, label: false, collection: Squad::TYPES.to_a, prompt: "Select squad"
        .squad_wrap
          = link_to "Remove", '#', class: "remove_squad"
          %table.squad_table
            %thead

              %th.squad_details
                Squad Info
                %table.chart
                  %tr.chart
                    %td Points
                    %td Size
                    %td Type
                  %tr.chart_stats
                    %td
                      .squadpoints
                    %td
                      .squadsize
                    %td
                      .squadtype

            %tbody
              = squad.simple_fields_for :troops do |troop|
                %tr.troop
                  %td
                    .troop_points
                    .troop_icon
                    = troop.input :weapon, collection: ["Select Weapon"], prompt: "Select Weapon", label: false
                    = troop.input :side_weapon, collection: ["Select Weapon"], prompt: "Select Weapon", label: false
                    = link_to "remove", "#", class: "remove_troop"
                    %table.troop_stat
                      %tr
                        %td WS
                        %td BS
                        %td S
                        %td T
                        %td W
                        %td I
                        %td A
                        %td LD
                        %td SV
                      %tr
                        %td 1
                        %td 1
                        %td 1
                        %td 1
                        %td 1
                        %td 1
                        %td 1
                        %td 1
                        %td 1


          = link_to "Add Troop", "#", class: "add_troop"
    .add_buttons
      = link_to "Add Troop Squad", '#', id: "add_squad"
      = link_to "Add Elite Squad", '#', id: "add_elite"
      = link_to "Add Heavy Support", '#', id: "add_heavyweapon"
      = link_to "Add Fast Attack", '#', id: "add_fastattack"
      = link_to "Add HQ", '#', id: "add_hq"

    .create_army= f.button :submit


