= simple_form_for @army do |f|

  = f.input :name

  .army_points

  .squadform
    .army_list
      Choas Army List
      %table

        %thead
          %th Squads
          %th #
          %th.points points
          %th max
        %tr
          %td HQ
          %td.hq 1
          %td 0
          %td 1
        %tr
          %td Troop
          %td.troop 2
          %td 0
          %td 6
        %tr
          %td Elite
          %td.elite 0
          %td 0
          %td 3

        %tr
          %td Heavy Support
          %td.heavy 0
          %td 0
          %td 3

        %tr
          %td Fast Attack
          %td.fast 0
          %td 0
          %td 3


    %h3 Squads
    = f.simple_fields_for :squads do |squad|
      .fields.squad
        = squad.input :name, label: false, collection: Squad::TYPES.to_a, value_method: :first, label_method: :last, prompt: "Select squad"
        .squad_wrap

          = link_to "Remove", '#', class: "remove_squad"
          .squadpoints
          %h4 Troops
          %table.squad_table
            %thead
              %tr
                %th.squad_details
                  .main_weapon
                    Weapon

                  .side_weapon
                    Side Weapon
                  .squad_click_addons
                    = squad.input :extras, class: "extras"
                    .meltabomb
                      = squad.check_box :extras, class: "meltabomb"
                      meltabomb
                    .mutation
                      = check_box :extras, class: "mutation"
                      gift of mutation
                    .veteran
                      = check_box :extras, class: "veteran"
                      veteran
                  .mark
                    Choas Mark
                    = squad.input :mark, collection: ["Khorne", "Tzeentch", "Slaanesh", "Nurgle"], label: false

            %tbody
              = squad.simple_fields_for :troops do |troop|
                %tr
                  %td
                    .troop_points
                    .troop_icon
                    = troop.input :weapon, collection: ["Select Weapon"], prompt: "Select Weapon", label: false
                    .troop_details
                    = troop.input :side_weapon, collection: ["Select Weapon"], prompt: "Select Weapon", label: false
                    = link_to "remove", "#", class: "remove_troop"


          = link_to "Add Troop", "#", class: "add_troop"
    .add_buttons
      = link_to "Add Troop Squad", '#', id: "add_squad"
      = link_to "Add Elite Squad", '#', id: "add_elite"
      = link_to "Add Heavy Support", '#', id: "add_heavyweapon"
      = link_to "Add Fast Attack", '#', id: "add_fastattack"
      = link_to "Add HQ", '#', id: "add_hq"

    .create_army= f.button :submit

= link_to "Click", '#', id: "click"
