%html

  %body.index
    %head
      %h1
        = image_tag("indextitle.png")
      %p.intro Warhammer 40K Army Builder is a web application that creates Warhammer armies using click and select features create a user friendly app that condenses game rules in the browser.
      %ul.index
        %li
          = link_to 'Chaos Army', new_army_path, class: "Choas_Army_Button"
          %ul.dropdown
            .box_pic= link_to image_tag("listchaos.jpeg"), new_army_path
            .box_pic2= link_to image_tag("listchaos.jpeg"), new_army_path
            %p.chaos
              The Chaos Space Marines, also sometimes called a Traitor Marine or a Renegade Marine, is a former Loyalist Space Marine of the Imperium of Man who has chosen to betray the service of the Emperor of Mankind and dedicate his soul to the service of Chaos and its foul deities. Such corrupt Astartes normally belong to one of the 9 Traitor Legions that betrayed the Emperor during the ancient civil war called the Horus Heresy more than 10,000 standard years ago, while others come from Space Marine Chapters created long after the Heresy ended that have turned Renegade.
        %li
          = link_to 'Blood Angel Army', armies_new_blood_path, class: "BloodAngel_Army_Button"
          %ul.dropdown
            .box_pic=link_to image_tag("blooddrop.png"), armies_new_blood_path
            .box_pic2=link_to image_tag("blooddrop.png"), armies_new_blood_path
            %p.blood
              The Blood Angels are one of the 20 First Founding Legions of the Space Marines and were originally the IX Legion before the Second Founding broke the Legiones Astartes up into 1000 separate Chapters. They are well-known across the galaxy for their bloodthirsty nature in battle, and feared for the curse of flawed gene-seed they carry. The Blood Angels are amongst the longest-lived of the Adeptus Astartes, with some of the Chapter's Space Marines having served the Emperor of Mankind for over a thousand standard years. Thanks to recent events, the Blood Angels' numbers have been severely depleted.
        %li
          = link_to 'Space Wolf Army', armies_new_wolf_path, class: "SpaceWolf_Army_Button"
          %ul.dropdown
            .box_pic=link_to image_tag("wolfdrop.jpg"), armies_new_wolf_path
            .box_pic2=link_to image_tag("wolfdrop.jpg"), armies_new_wolf_path
            %p.wolf
              The Space Wolves are one of the original 20 First Founding Space Marine Legions. Once the VI Legion of Astartes raised by the Emperor at the dawn of the Great Crusade, the Space Wolves are renowned for their anti-authoritarian ways and their embrace of their homeworld Fenris' savage barbarian culture as well as their extreme deviation from the Codex Astartes in the Chapter's organisation. After the Horus Heresy and the resultant Second Founding reforms of the Adeptus Astartes, the Space Wolves Legion was divided into two Chapters.
        %li
          = link_to 'Dark Angel Army', armies_new_dark_path, class: "DarkAngel_Army_Button"
          %ul.dropdown
            .box_pic=link_to image_tag("dropdark.jpeg"), armies_new_dark_path
            .box_pic2=link_to image_tag("dropdark.jpeg"), armies_new_dark_path
            %p.dark
              The Dark Angels are considered amongst the most powerful and secretive of the Loyalist Space Marine Chapters. They were the I Legion of the original 20 Space Marine Legions to be created during the First Founding of the 30th Millennium. Though they claim complete allegiance and service to the Emperor of Mankind, their actions and secret goals at times seem at odds with that professed loyalty, as the Dark Angels strive above all other things to atone for an ancient crime of betrayal committed over 10,000 standard years ago against the trust of the Emperor during the time of the Great Crusade and the Horus Heresy.
        %li
          = link_to 'Ultra Marine Army', armies_new_ultra_path, class: "Ultra_Army_Button"
          %ul.dropdown
            .box_pic=link_to image_tag("dropultra.jpeg"), armies_new_ultra_path
            .box_pic2=link_to image_tag("dropultra.jpeg"), armies_new_ultra_path
            %p.ultra
              The Ultramarines are considered one of the strongest and most honoured of all the Space Marine Chapters in the Imperium of Man, and were responsible for almost single-handedly holding the Imperium together after the Horus Heresy. Highly disciplined and courageous warriors, the Ultramarines have remained true to the teachings of their Primarch Roboute Guilliman for 10,000 standard years. The Ultramarines were originally the XIII Space Marine Legion before the reforms that initiated the Second Founding and reshaped the Imperium after the Heresy on the orders of Guilliman himself.

        %li
          = link_to 'Ork Army', armies_new_ork_path, class: "Ork_Army_Button"
          %ul.dropdown
            .box_pic=link_to image_tag("dropork.jpg"), armies_new_ork_path
            .box_pic2=link_to image_tag("dropork.jpg"), armies_new_ork_path
            %p.ork
              The Orks, also called Greenskins, are a savage, warlike, green-skinned race of humanoids who are spread all across the Milky Way Galaxy. They are seen by their enemies as savage, warlike, and crude, but they are the most successful species in the whole galaxy, outnumbering possibly every other intelligent race, even Mankind. However, this massive population of Orks is split into hundreds of tiny empires, often warring between themselves. It has been speculated that were the Orks ever to unite as a single racial entity, they would undoubtedly crush any opposition that would dare to stand against such a tsunami of green muscle.
