%html

  %body.index
    %head
      %h1
        = image_tag("indextitle.png")
      %p.intro Warhammer 40K Army Builder is a web application that creates . Click and select features create a user friendly app that condenses game rules in the browser.
      %ul.index
        %li= link_to 'Chaos Army', new_army_path, class: "Choas_Army_Button"
        %li= link_to 'Blood Angel Army', armies_new_blood_path, class: "BloodAngel_Army_Button"
        %li= link_to 'Space Wolf Army', armies_new_wolf_path, class: "SpaceWolf_Army_Button"
        %li= link_to 'Dark Angel Army', armies_new_dark_path, class: "DarkAngel_Army_Button"
        %li= link_to 'Ultra Marine Army', armies_new_ultra_path, class: "Ultra_Army_Button"
        %li= link_to 'Ork Army', armies_new_ork_path, class: "Ork_Army_Button"



