%p#notice= notice
  
-if user_signed_in?
  %p View Armies
-else
  %p You must be Loged in to Save an Army
  = link_to "Sign up", new_user_registration_path
%p
  %b Name:
  = @army.name
  = @army.faction
%p

%table.show
  %tr
    %th Squad
    %th Points
    %th Size
  - @army.squads.each do |squad|
    %tr
    %td=link_to "#{squad.name}", army_squad_path(@army, squad)
    %td= squad.points
    %td= squad.count_size

= link_to 'Edit', edit_army_path(@army)
\|
= link_to 'Back', armies_path
