%p#notice= notice

%p
  %b Name:
  = @army.name
%p

%table.show
  %tr
    %th Squad
    %th Points
    %th Size
  - @army.squads.each do |squad|
    %tr
    %td=link_to "#{squad.name}", edit_army_squad_path(@army, squad)
    %td= squad.points
    %td= squad.count_size

= link_to 'Edit', edit_army_path(@army)
\|
= link_to 'Back', armies_path
