%h1= "#{@squad.name}"

.squad_edit
%p Size
= @squad.troops.size
%p Points
= @squad.points


= simple_form_for [@army, @squad] do |f|
  = f.simple_fields_for :troops do |troop|
    = troop.input :weapon
    = troop.input :side_weapon

  = f.button :submit
%p Names